@font-face {
  font-family: 'Junge';
  font-style: normal;
  font-weight: 400;
  src: local('Junge'), local('Junge-Regular'), url(../assets/wh2PLWhxorCuNQKW1uOhrw.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 13:34:45 May 10, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:11:33 Sep 20, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.498
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.017
  esindex: 0.009
  cdx.remote: 34.085
  LoadShardBlock: 46.259 (3)
  PetaboxLoader3.datanode: 55.941 (4)
  load_resource: 105.247
  PetaboxLoader3.resolve: 67.647
*/